.overflowText {
  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clickable {
  color: inherit; /* blue colors from links */
  text-decoration: inherit; /* no underline */
}

.clickable:hover {
  color: inherit; /* blue colors from links */
  text-decoration: inherit; /* no underline */
}

.likesNum {
  text-align: center;
}
